/* Global styles */
* {
    font-family: 'Fraunces', serif;
    color: #fff;
}

body {
    margin: 0;
    background-color: #224870;
}

/* Center the calculator */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Calculator layout */
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-auto-rows: 80px;
    gap: 10px;
    padding: 20px;
    background-color: #00916e;
    border-radius: 32px;
}


.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-end; 
    margin: 10px 0 20px;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}


#current-value {
    font-size: 1.5em;
}

#previous-value {
    font-size: 2em;
}

/* Button styles */
button {
    border: none;
    border-radius: 50%;
    background: #00b487;
    box-shadow: 5px 5px 15px #006f54, -5px -5px 15px #00ffc11f;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}

button.zero {
    border-radius: 40px;
    grid-column: span 2;
}

button:active {
    box-shadow: inset 5px 5px 15px #006f54, inset -5px -5px 15px #00ffc11f;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}
